<section class="mision-vision">
  <div class="contenedor">
    <div class="mision-vision-item">
      <div class="mision-vision-imagen">
        <img src="/assets/about-us/mision.png" alt="Imagen de Misión">
      </div>
      <div class="mision">
        <h2>NUESTRA MISIÓN</h2>
        <p>Somos una empresa competente, reconocida por la eficiencia de nuestros servicios de
          reparación de culatas y ventas de repuestos de maquinaria pesada. Conformado por un
          equipo de reconocidos profesionales en constante actualización. Nuestros servicios se
          caracterizan por su calidad que superan las expectativas de nuestros clientes.</p>
      </div>
    </div>
    <div class="mision-vision-item">
      <div class="vision">
        <h2>NUESTRA VISIÓN</h2>
        <p>Ser una empresa reconocida e importante del Perú que brinde servicios de calidad impactando
          a los clientes para posicionaría como la mejor RECTIFICACION en el mercado internacional y
          competir con las más prestigiosas rectificaciones a nivel mundial.</p>
      </div>
      <div class="mision-vision-imagen">
        <img src="/assets/about-us/vision.png" alt="Imagen de Visión">
      </div>
    </div>
  </div>
</section>

<section class="valores">
  <div class="contenedor">
    <h2>NUESTROS VALORES</h2>
    <div class="valores-fila">
      <div class="valor">
        <i class="fas fa-handshake"></i>
        <h3>Respeto</h3>
      </div>
      <div class="valor">
        <i class="fas fa-users"></i>
        <h3>Participación</h3>
      </div>
      <div class="valor">
        <i class="fas fa-id-card"></i>
        <h3>Identidad</h3>
      </div>
      <div class="valor">
        <i class="fas fa-lightbulb"></i>
        <h3>Innovación</h3>
      </div>
    </div>
  </div>
</section>

<app-attention-client></app-attention-client>

