/* Misión y Visión */
.mision-vision, .valores {
  padding: 90px 20px 0 20px;
  background-color: #E0F7FA;
  color: #03045E;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.mision-vision-item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.mision-vision-imagen {
  flex: 1;
  max-width: 300px;
  margin: 0 20px;
  border-radius: 8px;
}

.mision-vision-imagen img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mision, .vision {
  flex: 2;
  padding: 20px;
  background: #CAF0F8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.valores-fila {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.valor {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  flex: 1;
  margin: 10px;
  background: #CAF0F8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valor:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.valor i {
  font-size: 2em;
  margin-bottom: 15px;
  color: #0077B6;
}

.valor h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #0077B6; /* Estilo único */
}

.valor p {
  font-size: 0.9em;
  color: #555;
}

.contenedor h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Responsivo */
@media (max-width: 1024px) {
  .valores-fila {
    justify-content: center;
  }

  .valor {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .mision-vision-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .mision-vision-imagen, .mision, .vision {
    margin: 20px 0;
  }

  .mision-vision-imagen {
    order: 2;
  }

  .mision {
    order: 1;
  }

  .valores-fila {
    flex-direction: column;
    align-items: center;
  }

  .valor {
    width: calc(100% - 20px);
  }

  .valor i {
    margin-bottom: 10px;
  }
}
