<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<section class="header-content">
  <h1>RECTIFICACIONES ARANDA S&J</h1>
  <p>26 Años diseñando soluciones de Alta Logística</p>
  <button mat-raised-button color="accent">LEER MÁS</button>
</section>

<section class="soluciones-inteligentes">
  <h2>Bienvenidos a <span>RECTIFICACIONES ARANDA S&J</span></h2>
  <div class="content">
    <div class="unidad-negocio">
      <h3>Somos</h3>
      <ul>
        <li>Oil & Gas</li>
        <li>Industrial</li>
        <li>Consumo Masivo</li>
      </ul>
      <button mat-raised-button color="accent">LEER MÁS</button>
    </div>
    <div class="servicios-logisticos">
      <h3>Tenemos</h3>
      <ul>
        <li>Transporte</li>
        <li>Distribución</li>
        <li>Almacenaje</li>
        <li>Agenciamiento Aduanero</li>
      </ul>
      <button mat-raised-button color="accent">LEER MÁS</button>
    </div>
  </div>
</section>

<section class="mision-vision">
  <div class="contenedor">
    <div class="mision-vision-item">
      <div class="mision-vision-imagen">
        <img src="/assets/mision.png" alt="Imagen de Misión">
      </div>
      <div class="mision">
        <h2>Nuestra Misión</h2>
        <p>Somos una empresa competente, reconocida por la eficiencia de nuestros servicios de
          reparación de culatas y ventas de repuestos de maquinaria pesada. Conformado por un
          equipo de reconocidos profesionales en constante actualización. Nuestros servicios se
          caracterizan por su calidad que superan las expectativas de nuestros clientes.</p>
      </div>
    </div>
    <div class="mision-vision-item">
      <div class="vision">
        <h2>Nuestra Visión</h2>
        <p>Ser una empresa reconocida e importante del Perú que brinde servicios de calidad impactando
          a los clientes para posicionaría como la mejor RECTIFICACION en el mercado internacional y
          competir con las más prestigiosas rectificaciones a nivel mundial.</p>
      </div>
      <div class="mision-vision-imagen">
        <img src="/assets/vision.png" alt="Imagen de Visión">
      </div>
    </div>
  </div>
</section>

<section class="valores">
  <div class="contenedor">
    <h2>Nuestros Valores</h2>
    <div class="valores-fila">
      <div class="valor">
        <i class="fas fa-handshake"></i>
        <h3>Respeto</h3>
        <p>Valoramos la diversidad social, cultural, económica, ideológica,
          de fe como medio de desarrollo institucional.</p>
      </div>
      <div class="valor">
        <i class="fas fa-users"></i>
        <h3>Participación</h3>
        <p>Integramos a los agentes educativos a través del trabajo en equipo
          con el fin de mejorar el proceso de Enseñanza-Aprendizaje.</p>
      </div>
      <div class="valor">
        <i class="fas fa-id-card"></i>
        <h3>Identidad</h3>
        <p>Promovemos en los estudiantes el conocimiento y desarrollo de sí mismos.
          Vinculamos al alumno con su entorno y cultura mediante la revaloración de los mismos.</p>
      </div>
      <div class="valor">
        <i class="fas fa-lightbulb"></i>
        <h3>Innovación</h3>
        <p>Buscamos solucionar los problemas de la I.E. por medio de medidas creativas e
          innovadoras con el fin de alcanzar los objetivos educacionales.</p>
      </div>
    </div>
  </div>
</section>

<section class="atencion-cliente">
  <h2>ATENCIÓN AL CLIENTE</h2>
  <p>Llame ahora, que un representante de nuestra empresa lo atenderá en el acto. Caso contrario deje un mensaje, que del mismo modo nos comunicaremos con Ud.</p>
  <div class="contacto-consulta">
    <div class="contactos">
      <h3>CONTACTOS</h3>
      <div class="contacto-item">
        <div>
          <p>Correo: rectificacionesaranda16&#64;gmail.com</p>
          <p>Celular: +51972133058</p>
        </div>
      </div>
    </div>
    <div class="mapa">
      <h3>NUESTRA UBICACIÓN</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52527.342876961855!2d-77.07825269653907!3d-11.896862756872558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1f269d1022b%3A0xe808a21b096d2181!2sRECTIFICACIONES%20ARANDA%20S%26J%20SAC!5e0!3m2!1ses-419!2spe!4v1721844048375!5m2!1ses-419!2spe" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="horario-atencion">
    <h3>HORARIO DE ATENCIÓN</h3>
    <p>Lunes a Viernes: de 08:00 hrs. a 17:00 hrs.</p>
    <p>Sábados: de 08:00 hrs. a 13:00 hrs.</p>
  </div>
</section>

<app-footer></app-footer>

<!-- Botón de WhatsApp flotante -->
<a href="https://wa.me/972133058" target="_blank" class="whatsapp-button">
  <i class="fab fa-whatsapp"></i>
</a>
