<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<div class="header-content">
  <h1>RECTIFICACIONES ARANDA S&J</h1>
  <p>26 Años diseñando soluciones de Alta Logística</p>
  <button mat-raised-button color="accent">LEER MÁS</button>
</div>

<div class="soluciones-inteligentes">
  <h2>Bienvenidos a <span>RECTIFICACIONES ARANDA S&J</span></h2>
  <div class="content">
    <div class="unidad-negocio">
      <h3>Somos</h3>
      <ul>
        <li>Oil & Gas</li>
        <li>Industrial</li>
        <li>Consumo Masivo</li>
      </ul>
      <button mat-raised-button color="accent">LEER MÁS</button>
    </div>
    <div class="servicios-logisticos">
      <h3>Tenemos</h3>
      <ul>
        <li>Transporte</li>
        <li>Distribución</li>
        <li>Almacenaje</li>
        <li>Agenciamiento Aduanero</li>
      </ul>
      <button mat-raised-button color="accent">LEER MÁS</button>
    </div>
  </div>
</div>

<section class="atencion-cliente">
  <h2>ATENCIÓN AL CLIENTE</h2>
  <p>Llame ahora, que un representante de nuestra empresa lo atenderá en el acto. Caso contrario deje un mensaje, que del mismo modo nos comunicaremos con Ud.</p>
  <div class="contacto-consulta">
    <div class="contactos">
      <h3>CONTACTOS</h3>
      <div class="contacto-item">
        <div>
          <p>Correo: rectificacionesaranda16&#64;gmail.com</p>
          <p> Celular: +51972133058</p>
        </div>
      </div>
    </div>
    <div class="mapa">
      <h3>NUESTRA UBICACIÓN</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52527.342876961855!2d-77.07825269653907!3d-11.896862756872558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1f269d1022b%3A0xe808a21b096d2181!2sRECTIFICACIONES%20ARANDA%20S%26J%20SAC!5e0!3m2!1ses-419!2spe!4v1721844048375!5m2!1ses-419!2spe" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="horario-atencion">
    <h3>HORARIO DE ATENCIÓN</h3>
    <p>Lunes a Viernes: de 08:00 hrs. a 17:00 hrs.</p>
    <p>Sábados: de 08:00 hrs. a 13:00 hrs.</p>
  </div>
</section>

<app-footer></app-footer>

<!-- Botón de WhatsApp flotante -->
<a href="https://wa.me/972133058" target="_blank" class="whatsapp-button">
  <i class="fab fa-whatsapp"></i>
</a>
