<section class="header-content">
  <h1>RECTIFICACIONES ARANDA S&J</h1>
  <p>15 Años diseñando soluciones de Alta Calidad</p>
  <button mat-raised-button color="accent" onclick="document.getElementById('bienvenidos').scrollIntoView({ behavior: 'smooth' })">LEER MÁS</button>
</section>
<section id="bienvenidos" class="soluciones-inteligentes">
  <h2>Bienvenidos a <span>RECTIFICACIONES ARANDA S&J</span></h2>
  <div class="content">
    <div class="unidad-negocio">
      <h3>SOMOS</h3>
      <ul>
        <p>Somos una empresa reconocida por la eficiencia en la reparación de culatas
          y venta de repuestos de maquinaria pesada, con un equipo de profesionales actualizados
          que ofrecen servicios de alta calidad.</p>
      </ul>
      <button mat-raised-button color="accent" (click)="redirectToAboutUs()">LEER MÁS</button>
    </div>
    <div class="servicios-logisticos">
      <h3>TENEMOS</h3>
      <ul>
        <p>RECTIFICACIONES ARANDA SJ S.A.C. ofrece servicios de rectificado de culatas
          y motores para los modelos más comerciales, con más de 15 años
          de experiencia, destacándose por su precisión, calidad y garantía, satisfaciendo las necesidades
          de las industrias automotriz, agrícola, marítima y minera.</p>
      </ul>
      <button mat-raised-button color="accent" (click)="redirectToService()">LEER MÁS</button>
    </div>
  </div>
</section>

<app-attention-client></app-attention-client>

