.header-content {
  text-align: center;
  padding: 100px 20px;
  z-index: 10;
  position: relative;
  background: url('../../assets/landing/landing9.webp') no-repeat center center;
  background-size: cover;
  height: 100vh; /* Altura completa del viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alineación hacia arriba */
  align-items: center;
  font-family: 'Caudex', serif; /* Aplicar la fuente Caudex */
}

.header-content h1 {
  color: #1100fd; /* Color del texto del encabezado */
  font-size: 5em; /* Tamaño de fuente inicial */
  margin: 0;
  line-height: 1.2; /* Espaciado entre líneas */
  font-weight: bold;
  word-break: break-word; /* Ajustar palabras largas */
  -webkit-text-stroke: 1px #000000; /* Borde negro de 3px alrededor del texto */
  text-shadow: none; /* Deshabilitar sombra de texto */
}

.header-content p {
  color: #1100fd; /* Color del texto del párrafo */
  font-size: 3em; /* Tamaño de fuente inicial */
  margin-top: 20px;
  font-weight: bold;
  word-break: break-word; /* Ajustar palabras largas */
  -webkit-text-stroke: 2px #000000; /* Borde negro de 3px alrededor del texto */
  text-shadow: none; /* Deshabilitar sombra de texto */
}

.header-content button {
  font-size: 1.2em; /* Tamaño del botón */
  margin-top: 20px;
}

.soluciones-inteligentes {
  padding: 50px 20px;
  background-color: #E0F7FA;
  color: #03045E;
  text-align: center;
}

.soluciones-inteligentes h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.soluciones-inteligentes h2 span {
  color: #0077B6; /* Color del texto destacado */
}

.soluciones-inteligentes .content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.soluciones-inteligentes .unidad-negocio, .soluciones-inteligentes .servicios-logisticos {
  width: 45%;
  background: #CAF0F8; /* Color de fondo de los cuadros */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.soluciones-inteligentes h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.soluciones-inteligentes ul {
  list-style: none;
  padding: 0;
}

.soluciones-inteligentes li {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.soluciones-inteligentes button {
  margin-top: 10px;
  background-color: #0077B6; /* Color de fondo del botón */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.soluciones-inteligentes button:hover {
  background-color: #ffffff;
  color: #03045E;
}

/* Responsive styles */
@media (max-width: 1068px) {
  .header-content h1 {
    font-size: 3em; /* Tamaño más pequeño para pantallas medianas */
  }

  .header-content p {
    font-size: 1.2em; /* Tamaño más pequeño para pantallas medianas */
  }
}

@media (max-width: 480px) {
  .header-content h1 {
    font-size: 2.5em; /* Tamaño aún más pequeño para pantallas pequeñas */
    margin: 0;
  }

  .header-content p {
    font-size: 1em; /* Tamaño más pequeño para pantallas pequeñas */
    margin-top: 10px;
  }

  .header-content button {
    font-size: 1em; /* Tamaño del botón para pantallas pequeñas */
  }
}

