/* Normalización general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho del elemento */
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #03045E;
}

.ventas {
  width: 100%;
  padding: 80px 20px;
  background-color: #E0F7FA;
}

.productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas iguales */
  grid-template-rows: 300px 300px 350px; /* Tres filas de 300px cada una */
  gap: 30px; /* Espacio entre los elementos */
}

.producto {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background-clip: padding-box;
  border: 5px solid transparent; /* Espacio para el borde metálico */
  max-width: 100%; /* Limita el ancho máximo */
  max-height: 100%; /* Limita la altura máxima */
}

.producto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7);
  transition: filter 0.3s;
  z-index: -1;
}

.producto:hover {
  transform: scale(1.02); /* Escala menor para evitar desbordamiento */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: #b0c4de; /* Cambia a un color metálico claro en hover */
}

.producto:hover::before {
  filter: brightness(1);
}

/* Ajustes para el borde metálico */
.producto {
  border-image: linear-gradient(to right, silver, grey) 1;
}

/* Primera fila: Culatas y Motores */
.producto.culatas {
  grid-column: 1 / 4; /* Ocupa las primeras tres columnas */
  grid-row: 1 / 2;
  background-image: url('../../assets/sales/culatas.jpg');
}

.producto.motores {
  grid-column: 4 / 7; /* Ocupa las últimas tres columnas */
  grid-row: 1 / 2;
  background-image: url('../../assets/sales/motores.jpeg');
}

/* Segunda fila: Cigüeñales, Bielas y Arbol de Levas */
.producto.ciguenales {
  grid-column: 1 / 3; /* Ocupa dos columnas */
  grid-row: 2 / 3;
  background-image: url('../../assets/sales/cigueñal.jpeg');
}

.producto.bielas {
  grid-column: 3 / 5; /* Ocupa dos columnas */
  grid-row: 2 / 3;
  background-image: url('../../assets/sales/bielas.jpg');
}

.producto.arbol-de-levas {
  grid-column: 5 / 7; /* Ocupa dos columnas */
  grid-row: 2 / 3;
  background-image: url('../../assets/sales/eje-de-levas.jpeg');
}

/* Tercera fila: Repuestos Generales */
.producto.repuestos-generales {
  grid-column: 1 / -1; /* Ocupa toda la fila */
  grid-row: 3 / 4;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), /* Degradado negro a transparente */
    linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), /* Degradado negro a transparente */
    url('../../assets/sales/repuestos.jpg'); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Asegura que la imagen no se repita */
  position: relative;
}

/* Responsive Design for Phones (max-width: 480px) */
@media (max-width: 480px) {
  .productos {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de seis */
    grid-template-rows: repeat(6, auto); /* Ajuste de filas automáticas para acomodar el contenido */
  }

  .producto {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido */
    text-align: center; /* Centra el texto */
  }

  .producto h3 {
    font-size: 1.2em; /* Tamaño de fuente más pequeño para h3 */
    margin: 0; /* Elimina el margen por defecto del h3 */
  }


  .producto::before {
    filter: brightness(0.6); /* Ajusta el brillo para mejor contraste */
  }

  .producto.culatas, .producto.motores {
    grid-column: span 2; /* Ocupan toda la fila en pantallas más pequeñas */
    grid-row: span 1;
  }

  .producto.ciguenales, .producto.bielas, .producto.arbol-de-levas {
    grid-column: span 2; /* Ocupan dos columnas en lugar de tres */
    grid-row: span 1;
  }

  .producto.repuestos-generales {
    grid-column: span 2; /* Ocupa toda la fila en pantallas más pequeñas */
  }
}

