<section class="ventas">
  <div class="productos">
    <div class="producto culatas" (click)="goToCategory('culatas')">
      <h3>Culatas</h3>
    </div>
    <div class="producto motores" (click)="goToCategory('motores')">
      <h3>Motores</h3>
    </div>
    <div class="producto ciguenales" (click)="goToCategory('cigueñales')">
      <h3>Cigüeñales</h3>
    </div>
    <div class="producto bielas" (click)="goToCategory('bielas')">
      <h3>Bielas</h3>
    </div>
    <div class="producto arbol-de-levas" (click)="goToCategory('árbol-de-levas')">
      <h3>Árbol de Levas</h3>
    </div>
    <div class="producto repuestos-generales" (click)="goToCategory('repuestos')">
      <h3>Repuestos para Culatas y Motores en General</h3>
    </div>
  </div>
</section>


