/* Normalización general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho del elemento */
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #03045E;
}

.products {
  background-color: #E0F7FA;
  width: 100%;
  padding: 80px 20px;
}

.products-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-header {
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #CAF0F8; /* Fondo claro para la placa */
  padding: 15px;
  border-radius: 5px;
  color: #03045E; /* Color del texto */
  gap: 10px; /* Añade espacio entre los elementos */
}

.product-header h1 {
  font-size: 2em; /* Tamaño de letra más grande */
  font-weight: bold; /* Texto en negrita */
  text-transform: uppercase; /* Convertir a mayúsculas */
  margin: 0;
  color: #023E8A; /* Color del título para destacar */
}

.product-header .catalog-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
  text-align: center;
  width: 100%;
  max-width: 300px; /* Limita el ancho del botón en pantallas grandes */
}

.product-header .catalog-button:hover {
  background-color: #0056b3;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
  object-fit: cover; /* Las imágenes se escalarán y recortarán para llenar el contenedor */
}

.product-card h3 {
  padding: 15px;
  font-size: 1.2em;
  margin: 0;
  color: #333;
  background-color: #E0F7FA; /* Fondo celeste para la barra de separación */
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .product-header {
    flex-direction: row;
  }

  .product-header .catalog-button {
    width: auto;
  }
}
