/* Normalización general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  color: #03045E;
}

.atencion-cliente {
  padding: 80px 20px;
  background-color: #E0F7FA;
  color: #03045E;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.atencion-cliente h2 {
  text-align: center;
  margin-bottom: 20px;
}

.atencion-cliente p {
  text-align: center;
  margin-bottom: 30px;
}

.contacto-consulta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.contactos, .mapa {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.contactos {
  max-width: 600px;
  margin: 0 auto;
}

.contactos h3 {
  text-align: center;
  margin-bottom: 20px;
}

.contacto-item {
  text-align: center; /* Alinea el contenido del ítem al centro */
  margin: 0 auto;
  max-width: 80%;
}

.contacto-item p {
  font-size: 14px;
  color: #555;
}

/* Estilo de los botones de redes sociales */
.social-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  gap: 10px;
  margin-top: 15px;
}

.social-button {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.social-button.facebook {
  background-color: #3b5998;
}

.social-button.tiktok {
  background-color: #010101;
}

.mapa {
  max-width: 600px;
  margin: 0 auto;
}

.mapa iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

.horario-atencion {
  text-align: center;
  margin-top: 30px;
}

.horario-atencion h3 {
  margin-bottom: 10px;
}

.horario-atencion p {
  margin: 5px 0;
}
