/* Styles for Empresa */
.empresa {
  padding: 90px 20px 0 20px;
  background-color: #E0F7FA;
  color: #03045E;
}

.empresa .contenedor {
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
  padding: 40px 20px;
  background: #CAF0F8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for Area Servicios */
.area-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.area-servicios {
  padding: 50px 20px;
  background-color: #E0F7FA;
  color: #03045E;
}

.area-servicios .contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1000px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto;
}

.area-card {
  background: #CAF0F8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 20px);
  text-align: center;
  transition: transform 0.3s ease;
}

.area-card:hover {
  transform: translateY(-10px);
}

.area-icon {
  padding: 20px;
  background-color: #0077B6;
  color: #fff;
}

.area-content {
  padding: 20px;
}

.area-content h3 {
  margin-bottom: 10px;
}

.area-content p {
  margin-bottom: 20px;
}

.ver-servicio {
  padding: 10px 20px;
  background-color: #0077B6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ver-servicio:hover {
  background-color: #03045E;
}

/* Estilos para la sección de valores */
.valores {
  background: url('/assets/service/servicios.png') no-repeat center center;
  background-size: cover;
  padding: 40px 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #03045E;
}

.valores-fila {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.valor {
  flex: 1;
  max-width: 30%;
  min-width: 250px;
  margin: 10px;
  padding: 20px;
  background: #CAF0F8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.valor:hover {
  transform: translateY(-5px);
}

.valor i {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #0077B6;
}

.valor h5 {
  font-size: 1.2em;
  margin-top: 10px;
  color: #03045E;
}

.contenedor h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* Responsivo */
@media (max-width: 768px) {
  .valores h2 {
    font-size: 1.5em;
  }
  .valores-fila {
    flex-direction: column;
  }
  .valor {
    max-width: 90%;
    margin: 10px auto;
  }
  .area-card {
    width: calc(100% - 20px); /* Ajusta para 1 cuadro por fila en pantallas pequeñas */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .valores-fila {
    flex-direction: row;
  }
  .valor {
    max-width: 45%;
  }
  .area-card {
    width: calc(50% - 20px); /* Ajusta para 2 cuadros por fila en pantallas medianas */
  }
}
