<app-header></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

<section class="empresa">
  <div class="contenedor">
    <p>RECTIFICACIONES ARANDA SJ S.A.C., frente a un proceso constante de renovación, modernización y cambios, ofrece su experiencia y capacidad demostrada. La empresa está dispuesta a brindar el servicio de rectificado en general tanto de culatas y motores para los modelos más comerciales del mercado. Con una trayectoria de más de 15 años, nos hemos consolidado como líderes en el sector, ofreciendo soluciones de precisión y calidad superiores; sin olvidar la garantía que ofrecemos a diferencia de otras empresas. Nuestro objetivo es satisfacer las exigencias de diversas industrias, tales como la automotriz, agrícola, marítima y minera.</p>
  </div>
</section>


<section class="area-servicios">
  <div class="contenedor">
    <div class="area-card" (click)="openDialog('motores')">
      <div class="area-icon">
        <i class="fas fa-wrench"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/motor.png" alt="Área de Motores">
        <h3>Área de Motores</h3>
        <p>Área de Motores, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('cigueñales')">
      <div class="area-icon">
        <i class="fas fa-cogs"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/ciguenal.png" alt="Área de Cigueñales">
        <h3>Área de Cigueñales</h3>
        <p>Área de Cigueñales, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('culatas')">
      <div class="area-icon">
        <i class="fas fa-cog"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/culata.png" alt="Área de Culatas">
        <h3>Área de Culatas</h3>
        <p>Área de Culatas, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('presentado')">
      <div class="area-icon">
        <i class="fas fa-tools"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/presentado.png" alt="Área de Presentado">
        <h3>Área de Presentado</h3>
        <p>Área de Presentado, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('torno')">
      <div class="area-icon">
        <i class="fas fa-hammer"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/torno.png" alt="Área de Torno, Soldadura">
        <h3>Área de Torno, Soldadura</h3>
        <p>Área de Torno, Soldadura, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('maestranza')">
      <div class="area-icon">
        <i class="fas fa-screwdriver"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/maestranza.png" alt="Área de Maestranza">
        <h3>Área de Maestranza</h3>
        <p>Área de Maestranza, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
  </div>
</section>

<section class="valores">
  <div class="contenedor">
    <h2>CARACTERÍSTICAS DE SERVICIOS QUE OFRECEMOS</h2>
    <div class="valores-fila">
      <div class="valor">
        <i class="fas fa-handshake"></i>
        <h5>Calidad y Garantía</h5>
      </div>
      <div class="valor">
        <i class="fas fa-users"></i>
        <h5>Experiencia y Profesionalismo</h5>
      </div>
      <div class="valor">
        <i class="fas fa-lightbulb"></i>
        <h5>Eficiencia y eficacia</h5>
      </div>
    </div>
  </div>
</section>


<section class="atencion-cliente">
  <h2>ATENCIÓN AL CLIENTE</h2>
  <p>Llame ahora, que un representante de nuestra empresa lo atenderá en el acto. Caso contrario deje un mensaje, que del mismo modo nos comunicaremos con Ud.</p>
  <div class="contacto-consulta">
    <div class="contactos">
      <h3>CONTACTOS</h3>
      <div class="contacto-item">
        <div>
          <p>Correo: rectificacionesaranda16&#64;gmail.com</p>
          <p>Celular: +51972133058</p>
        </div>
      </div>
    </div>
    <div class="mapa">
      <h3>NUESTRA UBICACIÓN</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52527.342876961855!2d-77.07825269653907!3d-11.896862756872558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1f269d1022b%3A0xe808a21b096d2181!2sRECTIFICACIONES%20ARANDA%20S%26J%20SAC!5e0!3m2!1ses-419!2spe!4v1721844048375!5m2!1ses-419!2spe" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div class="horario-atencion">
    <h3>HORARIO DE ATENCIÓN</h3>
    <p>Lunes a Viernes: de 08:00 hrs. a 17:00 hrs.</p>
    <p>Sábados: de 08:00 hrs. a 13:00 hrs.</p>
  </div>
</section>

<app-footer></app-footer>

<!-- Botón de WhatsApp flotante -->
<a href="https://wa.me/972133058" target="_blank" class="whatsapp-button">
  <i class="fab fa-whatsapp"></i>
</a>
