<section class="empresa">
  <div class="contenedor">
    <p>RECTIFICACIONES ARANDA SJ S.A.C., frente a un proceso constante de renovación,
      modernización y cambios, ofrece su experiencia y capacidad demostrada. La empresa
      está dispuesta a brindar el servicio de rectificado en general tanto de culatas y
      motores para los modelos más comerciales del mercado. Con una trayectoria de más de
      15 años, nos hemos consolidado como líderes en el sector, ofreciendo soluciones de
      precisión y calidad superiores; sin olvidar la garantía que ofrecemos a diferencia
      de otras empresas. Nuestro objetivo es satisfacer las exigencias de diversas
      industrias, tales como la automotriz, agrícola, marítima y minera.</p>
  </div>
</section>

<section class="area-servicios">
  <div class="contenedor">
    <div class="area-card" (click)="openDialog('motores')">
      <div class="area-icon">
        <i class="fas fa-wrench"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/motor.png" alt="Área de Motores">
        <h3>Área de Motores</h3>
        <p>Área de Motores, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('cigueñales')">
      <div class="area-icon">
        <i class="fas fa-cogs"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/ciguenal.png" alt="Área de Cigueñales">
        <h3>Área de Cigueñales</h3>
        <p>Área de Cigueñales, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('culatas')">
      <div class="area-icon">
        <i class="fas fa-cog"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/culata.png" alt="Área de Culatas">
        <h3>Área de Culatas</h3>
        <p>Área de Culatas, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('presentado')">
      <div class="area-icon">
        <i class="fas fa-tools"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/presentado.png" alt="Área de Presentado">
        <h3>Área de Presentado</h3>
        <p>Área de Presentado, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('torno')">
      <div class="area-icon">
        <i class="fas fa-hammer"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/torno.png" alt="Área de Torno, Soldadura">
        <h3>Área de Torno, Soldadura</h3>
        <p>Área de Torno, Soldadura, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
    <div class="area-card" (click)="openDialog('maestranza')">
      <div class="area-icon">
        <i class="fas fa-screwdriver"></i>
      </div>
      <div class="area-content">
        <img src="../../assets/service/maestranza.png" alt="Área de Maestranza">
        <h3>Área de Maestranza</h3>
        <p>Área de Maestranza, Rectificaciones Astete.</p>
        <button class="ver-servicio">Ver Servicio</button>
      </div>
    </div>
  </div>
</section>

<section class="valores">
  <div class="contenedor">
    <h2>CARACTERÍSTICAS DE SERVICIOS QUE OFRECEMOS</h2>
    <div class="valores-fila">
      <div class="valor">
        <i class="fas fa-star"></i>
        <h5>Calidad y Garantía</h5>
      </div>
      <div class="valor">
        <i class="fas fa-briefcase"></i>
        <h5>Experiencia y Profesionalismo</h5>
      </div>
      <div class="valor">
        <i class="fas fa-tachometer-alt"></i>
        <h5>Eficiencia y eficacia</h5>
      </div>
    </div>
  </div>
</section>

<app-attention-client></app-attention-client>



